Trabalho_WFC/Trabalho_WFC/Connected Services/PatientService/Patients2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trabalho_WFC.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trabalho_WFC.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patient_un" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="register_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="unit_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
</xs:schema>