Trabalho_WFC/Trabalho_WFC/Connected Services/PatientService/Patients.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65346/Services/Patients.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Trabalho_WFC.Models" />
  <xs:element name="RegisterPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Trabalho_WFC.Models" minOccurs="0" name="patient" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>